{% extends "base.html" %}

{% block title %}
  Adding a User
{% endblock %}

{% block content %}
  <div class='col-sm-8 col-sm-offset-2'>
  <h1>Add User</h1>

  <form action='' method='post'>{% csrf_token %}
    {{ user_form.as_p }}
    {{ userprofile_form.as_p }}
    <input type="submit", name="submit">
  </form>
  </div>

{% endblock %}
