{% extends "base.html" %}
{% load users_tags %}

{% block title %}
  Userlist
{% endblock %}

{% block content %}
  <div class='col-sm-8 col-sm-offset-2'>
  <h1>User list</h1>
  <p><a href="{% url 'add' %}">Add User <span class="glyphicon glyphicon-plus"></span></a></p>
    <table class="table">
      <thead>
        <td><b>Username</b></td>
        <td><b>Birthday</b></td>
        <td><b>Eligible</b></td>
        <td><b>Random Number</b></td>
        <td><b>BizzFuzz</b></td>
        <td></td>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.userprofile.birthday }}</td>
          <td>{% is_eligible user.userprofile.birthday %}</td>
          <td>{{ user.userprofile.random_number }}</td>
          <td>{% bizzfuzz user.userprofile.random_number %}</td>
          <td></td>
          <td><a href="{% url 'edit' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
          <td><a href="{% url 'delete' user.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
        {% empty %}
          <p>There are no users.</p>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
